CONFIG_BCM_VC_OMX=y
CONFIG_BCM_VC_HNFO=y
CONFIG_BCM_VC_DNFO=y
CONFIG_VC_PLATFORM_DIR="vcfw/platform/broadcom/capri"

CONFIG_USB_G_ANDROID=y
CONFIG_STAGING=y
# CONFIG_USBIP_CORE is not set
# CONFIG_ECHO is not set
# CONFIG_BRCMUTIL is not set
# CONFIG_ASUS_OLED is not set
# CONFIG_R8712U is not set
# CONFIG_TRANZPORT is not set

#
# Android
#
CONFIG_ANDROID=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_ANDROID_LOGGER=y
CONFIG_ANDROID_RAM_CONSOLE=y
CONFIG_ANDROID_RAM_CONSOLE_ENABLE_VERBOSE=y
CONFIG_ANDROID_RAM_CONSOLE_ERROR_CORRECTION=y
CONFIG_ANDROID_RAM_CONSOLE_ERROR_CORRECTION_DATA_SIZE=128
CONFIG_ANDROID_RAM_CONSOLE_ERROR_CORRECTION_ECC_SIZE=16
CONFIG_ANDROID_RAM_CONSOLE_ERROR_CORRECTION_SYMBOL_SIZE=8
CONFIG_ANDROID_RAM_CONSOLE_ERROR_CORRECTION_POLYNOMIAL=0x11d
# CONFIG_ANDROID_RAM_CONSOLE_EARLY_INIT is not set
CONFIG_ANDROID_TIMED_OUTPUT=y
CONFIG_ANDROID_TIMED_GPIO=y
CONFIG_ANDROID_LOW_MEMORY_KILLER=y

CONFIG_TOUCHSCREEN_SCALE=y

CONFIG_INITRAMFS_SOURCE=""
# CONFIG_INITRAMFS_ROOT_UID is not set
# CONFIG_INITRAMFS_ROOT_GID is not set
# CONFIG_INITRAMFS_COMPRESSION_NONE is not set
# CONFIG_INITRAMFS_COMPRESSION_GZIP is not set

CONFIG_CMDLINE="console=ttyS0,115200n8 androidboot.console=ttyS0 mem=512M bootmemheap rootfstype=ext4 rootwait root=/dev/mmcblk0p8 rw"

# CONFIG_HAS_WAKELOCK is not set
# CONFIG_HAS_EARLYSUSPEND is not set
# CONFIG_WAKELOCK is not set
# CONFIG_WAKELOCK_STAT is not set
# CONFIG_USER_WAKELOCK is not set
# CONFIG_EARLYSUSPEND is not set

# CONFIG_BCM_AAA is not set
# CONFIG_BCM_BSC is not set

# CONFIG_I2C is not set

# CONFIG_HW_RANDOM is not set
# CONFIG_MMC_KONA_SDIO_WIFI is not set
