.config
.config.old
.mvl_cross_compile
.tmp_System.map
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
arch/arm/include/generated/
include/config/
include/generated/
vmlinux