# Boot
CONFIG_KEXEC=y
CONFIG_PRINTK_TIME=y
CONFIG_INITRAMFS_SOURCE="rootfs.cpio"
CONFIG_RD_GZIP=n
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n
CONFIG_RD_ZSTD=n

# Reset button
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_KEYBOARD_GPIO=y

# Networking
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_ATH9K=y
CONFIG_IPV6=y
