# Boot
CONFIG_KEXEC=y
CONFIG_PRINTK_TIME=y

# System info
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_MAGIC_SYSRQ=y

# Desktop hardware
CONFIG_VT=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_KEYBOARD_GPIO=y
CONFIG_INPUT_MOUSE=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_MOUSE_PS2=n
CONFIG_I2C_HID=n
CONFIG_DRM=y
CONFIG_DRM_UDL=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_USB_AUDIO=y
CONFIG_SND_PCI=n
CONFIG_SND_PPC=n
CONFIG_SND_SPI=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_EHCI_HCD=n

# LEDs
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_LEDS_GPIO=y
CONFIG_LEDS_GROUP_MULTICOLOR=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_DISK=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_LEDS_TRIGGER_NETDEV=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_LEDS_TRIGGER_TTY=y
CONFIG_LEDS_TRIGGER_INPUT_EVENTS=y
CONFIG_USB_LED_TRIG=y

# Networking
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_ATH9K=y
CONFIG_IPV6=y
CONFIG_NETLINK_DIAG=y
CONFIG_INET_UDP_DIAG=y
CONFIG_INET_TCP_DIAG=y
CONFIG_REGULATOR=y # TODO: defconfig
CONFIG_AT803X_PHY=y # TODO: defconfig

# Block devices
CONFIG_BLK_DEV_INITRD=n
CONFIG_BLOCK_LEGACY_AUTOLOAD=n
CONFIG_BLK_DEV_NBD=y
CONFIG_ISCSI_TCP=y
CONFIG_EXT2_FS=n
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_VFAT_FS=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_CODEPAGE_850=y
CONFIG_USB_STORAGE=y
CONFIG_USB_UAS=y

# Container stuff
CONFIG_CGROUPS=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_FREEZER=y
CONFIG_NAMESPACES=y

# Memory management
CONFIG_ZSWAP=y
CONFIG_ZSWAP_DEFAULT_ON=y
CONFIG_ZSWAP_SHRINKER_DEFAULT_ON=y
CONFIG_ZSWAP_ZPOOL_DEFAULT_ZBUD=y
