#
# System Type
#
CONFIG_BCM_ZRELADDR=0x80008000

#
# Broadcom KONA architecture based implementations
#
CONFIG_BCM_PARAMS_PHYS=0x80000000
CONFIG_BCM_RAM_BASE=0x80000000
CONFIG_BCM_RAM_START_RESERVED_SIZE=0x00000000

#
# Capri SoC based Machine types
#
CONFIG_CAPRI_11140=y

CONFIG_VCHIQ_PLATFORM_CFG_NAME="capri-bi"
