CONFIG_MMC_TEST=y
CONFIG_MAP_DUMMY_PM=y
CONFIG_PM_DEBUG=y
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_MAP_SDMA_TEST=m
CONFIG_BRCM_VIRTUAL_SENSOR=y
CONFIG_SENSORS_MPU3050=y
CONFIG_BCM_PERFTEST_SUPPORT=m

CONFIG_WATCHDOG=y
CONFIG_HAVE_ARM_TWD=y
CONFIG_MPCORE_WATCHDOG=m

CONFIG_SCHED_DEBUG=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_DEBUG_KERNEL=y

CONFIG_DEBUG_FS=y
CONFIG_DEBUG_CORTEX_A9_REGISTERS=m

CONFIG_DEBUG_INFO=y

