# SPDX-License-Identifier: GPL-2.0-only
#
# Nuvoton network device configuration
#

config NET_VENDOR_NUVOTON
	bool "Nuvoton devices"
	default y
	depends on ARM && ARCH_NPCM
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Nuvoton cards. If you say Y, you will be asked
	  for your specific card in the following questions.

if NET_VENDOR_NUVOTON

config NUVOTON_EMC
	tristate "Nuvoton Ethernet MAC Controller (EMC) support"
	select PHYLIB
	select MII
	help
	  Say Y here if you want to use built-in 100 Mbit Ethernet ports on
	  Nuvoton WPCM/NPCM SoCs

endif # NET_VENDOR_NUVOTON
