#
# Capri SoC based Machine types
#
CONFIG_MACH_CAPRI_TABLET=y

CONFIG_ISLAND_NET=y

#
# Some wireless drivers require a rate control algorithm
#
CONFIG_RFKILL=y
CONFIG_RFKILL_PM=y
CONFIG_RFKILL_LEDS=y

#
# Frame buffer hardware drivers
#
CONFIG_BACKLIGHT_LCD_SUPPORT=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_PWM=y

CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_EGALAX_I2C=y

# CONFIG_BCM_HAPTICS is not set

CONFIG_NFC_DEVICES=y
# CONFIG_PN544_NFC is not set
CONFIG_BCMI2CNFC=y

CONFIG_VC_PLATFORM_DIR="vcfw/platform/broadcom/capri"

CONFIG_KONA_ATAG_DT=y
CONFIG_KONA_ATAG_DT_DTS_FILE="bcm11351_tablet"
CONFIG_USE_OF=y
CONFIG_DTC=y
CONFIG_OF=y

#
# Device Tree and Open Firmware support
#
# CONFIG_PROC_DEVICETREE is not set
CONFIG_OF_FLATTREE=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_OF_ADDRESS=y
CONFIG_OF_IRQ=y
CONFIG_OF_DEVICE=y
CONFIG_OF_GPIO=y
CONFIG_OF_I2C=y
CONFIG_OF_NET=y
CONFIG_OF_MDIO=y

