# Include this option to enable PMU 59056 support
#
# MFD support
#
CONFIG_MFD_SUPPORT=y
CONFIG_MFD_CORE=y
CONFIG_MFD_BCMPMU=y
CONFIG_MFD_BCM59056=y
CONFIG_MFD_BCMPMU_DBG=y
CONFIG_MFD_BCM_PWRMGR_SW_SEQUENCER=y

#
# PMU support
#
CONFIG_BCMPMU_AUDIO=y
CONFIG_INPUT_PONKEY_BCMPMU=y
CONFIG_HWMON=y
CONFIG_SENSORS_BCMPMU=y

CONFIG_REGULATOR=y
CONFIG_REGULATOR_BCMPMU=y
CONFIG_REGULATOR_BCM59056=y

CONFIG_POWER_SUPPLY=y
CONFIG_POWER_BCMPMU=y
# CONFIG_CHARGER_BCMPMU is not set
CONFIG_CHARGER_BCMPMU_EXT=y
CONFIG_BCMPMU_EM=y
# CONFIG_CHARGER_BCMPMU_SPA is not set

# CONFIG_USB_DWC_OTG_HOST_MODE is not set
CONFIG_BCMPMU_OTG_XCEIV=y

# CONFIG_BCM_FAKE_BATTERY_DRIVER is not set
CONFIG_LEDS_DRV_BCMPMU=y
