#
# System Type
#
CONFIG_BCM_ZRELADDR=0x88008000

#
# Broadcom KONA architecture based implementations
#
# RAM base offset by 128MB for Little memory configuration
#
CONFIG_BCM_PARAMS_PHYS=0x88000000
CONFIG_BCM_RAM_BASE=0x88000000
CONFIG_BCM_RAM_START_RESERVED_SIZE=0

#
# Capri SoC based Machine types
#
CONFIG_CAPRI_11130=y
CONFIG_LITTLE_MODE=y
# CONFIG_LITTLE_MEMC_QOS is not set

CONFIG_VCHIQ_PLATFORM_CFG_NAME="capri-bivcm"