#
# Capri SoC based Machine types
#
CONFIG_MACH_CAPRI_RAY=y

CONFIG_ISLAND_NET=y

#
# Disable these for now because *_settings.h are not yet available.
#

# CONFIG_LEDS_GPIO is not set
# CONFIG_KEYBOARD_GPIO is not set
# CONFIG_BATTERY_MAX17040 is not set
# CONFIG_BCM_CMP_BATTERY_MULTI is not set
# CONFIG_BCM_HAPTICS is not set

CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_EGALAX_I2C=y

CONFIG_VC_PLATFORM_DIR="vcfw/platform/broadcom/capri"

# need to test backlight on RAY
CONFIG_BACKLIGHT_LCD_SUPPORT=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_PWM=y

CONFIG_KONA_ATAG_DT=y
CONFIG_KONA_ATAG_DT_DTS_FILE="bcm11130_ray"
CONFIG_USE_OF=y
CONFIG_DTC=y
CONFIG_OF=y

#
# Device Tree and Open Firmware support
#
# CONFIG_PROC_DEVICETREE is not set
CONFIG_OF_FLATTREE=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_OF_ADDRESS=y
CONFIG_OF_IRQ=y
CONFIG_OF_DEVICE=y
CONFIG_OF_GPIO=y
CONFIG_OF_I2C=y
CONFIG_OF_NET=y
CONFIG_OF_MDIO=y

