// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2021 Arm Ltd.
 * Copyright (C) 2025 J. Neuschäfer
 */

/dts-v1/;

#include "sun50i-h616.dtsi"
#include "sun50i-h616-cpu-opp.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "X96Q";
	compatible = "amediatech,x96q", "allwinner,sun50i-h616";

	aliases {
		ethernet0 = &emac1;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &r_i2c;
		mmc0 = &mmc0;
		mmc1 = &mmc1;
		mmc2 = &mmc2;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc5v: vcc5v {
		/* board wide 5V supply directly from the DC input */
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	gpio-keys {
		compatible = "gpio-keys";

		key-recovery {
			label = "Recovery";
			linux,code = <KEY_VENDOR>;
			gpios = <&pio 7 9 GPIO_ACTIVE_LOW>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&pio 7 6 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};
};

&codec {
	allwinner,audio-routing = "Line Out", "LINEOUT";
	status = "okay";
};

&cpu0 {
	cpu-supply = <&reg_dcdca>;
};

&ehci0 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

&emac1 {
	status = "okay";
	phy-supply = <&reg_aldo1>; // ?
};

&gpu {
	mali-supply = <&reg_dcdcc>;
	status = "okay";
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pa_pins>;
	status = "okay";
};

&i2c3_pa_pins {
	bias-pull-up;
};

&ir {
	status = "okay";
};

/* µSD */
&mmc0 {
	vmmc-supply = <&reg_aldo1>;
	max-frequency = <150000000>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;	/* PF6 */
	disable-wp;
	bus-width = <4>;
	status = "okay";
};

/* eMMC */
&mmc2 {
	vmmc-supply = <&reg_aldo1>;
	vqmmc-supply = <&reg_bldo1>;
	bus-width = <8>;
	non-removable;
	cap-mmc-hw-reset;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	max-frequency = <100000000>;
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

&r_i2c {
	status = "okay";

	axp305: pmic@36 {
		compatible = "x-powers,axp305", "x-powers,axp805",
			     "x-powers,axp806";
		interrupt-controller;
		#interrupt-cells = <1>;
		reg = <0x36>;

		x-powers,self-working-mode;
		vina-supply = <&reg_vcc5v>;
		vinb-supply = <&reg_vcc5v>;
		vinc-supply = <&reg_vcc5v>;
		vind-supply = <&reg_vcc5v>;
		vine-supply = <&reg_vcc5v>;
		aldoin-supply = <&reg_vcc5v>;
		bldoin-supply = <&reg_vcc5v>;
		cldoin-supply = <&reg_vcc5v>;


/*
     vcc-5v                           1   15      0 unknown  5000mV     0mA  5000mV  5000mV
        dcdca                         0    0      0 unknown   900mV     0mA     0mV     0mV
        dcdcb                         0    0      0 unknown  1350mV     0mA     0mV     0mV
        dcdcc                         0    0      0 unknown   900mV     0mA     0mV     0mV
        dcdcd                         0    0      0 unknown  1500mV     0mA     0mV     0mV
        dcdce                         0    0      0 unknown  3300mV     0mA     0mV     0mV
        aldo1                         0    0      0 unknown  3300mV     0mA     0mV     0mV
        aldo2                         0    0      0 unknown   700mV     0mA     0mV     0mV
        aldo3                         0    0      0 unknown   700mV     0mA     0mV     0mV
        bldo1                         0    0      0 unknown  1800mV     0mA     0mV     0mV
        bldo2                         0    0      0 unknown  1800mV     0mA     0mV     0mV
        bldo3                         0    0      0 unknown   700mV     0mA     0mV     0mV
        bldo4                         0    0      0 unknown   700mV     0mA     0mV     0mV
        cldo1                         0    0      0 unknown  2500mV     0mA     0mV     0mV
        cldo2                         0    0      0 unknown   700mV     0mA     0mV     0mV
        cldo3                         0    0      0 unknown   700mV     0mA     0mV     0mV
*/

		regulators {
			reg_dcdca: dcdca {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <1100000>;
				regulator-name = "vdd-cpu";
			};

			dcdcb {
				regulator-always-on; // ?
				regulator-min-microvolt = <1350000>;
				regulator-max-microvolt = <1350000>;
			};

			reg_dcdcc: dcdcc {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <990000>;
				regulator-name = "vdd-gpu-sys";
			};

			dcdcd {
				regulator-always-on;
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
			};

			dcdce {
				regulator-always-on; // ?
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
			};

			reg_aldo1: aldo1 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3";
			};

			aldo2 {
				/* unused */
			};

			aldo3 {
				/* unused */
			};

			reg_bldo1: bldo1 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8";
			};

			bldo2 {
				/* unused */
			};

			bldo3 {
				/* unused */
			};

			bldo4 {
				/* unused */
			};

			cldo1 {
				/* unused */
			};

			cldo2 {
				/* unused */
			};

			cldo3 {
				/* unused */
			};
		};
	};
};

&r_rsb { // appears unused
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph_pins>;
	status = "okay";
};

&usbotg {
	dr_mode = "host";	/* USB A type receptacle */
	status = "okay";
};

&usbphy {
	status = "okay";
};
