CONFIG_BRCM_UNIFIED_DHD_SUPPORT=y
CONFIG_BCMDHD=y
# CONFIG_BCMDHD_GENERIC_CHIP_SUPPORT is not set
# CONFIG_BCM4330 is not set
CONFIG_BCM4334=y
# CONFIG_BCM43241 is not set
CONFIG_BROADCOM_WIFI_RESERVED_MEM=y
CONFIG_BCMDHD_FW_PATH="/system/vendor/firmware/fw_wifi.bin"
CONFIG_BCMDHD_NVRAM_PATH="/system/vendor/firmware/fw_wifi_nvram.txt"
CONFIG_BCMDHD_IF_PREFIX="wlan%d"
