arch   = arm
family = capri
chip   = 11130
board  = ray
option = ext4
option = mmc
option = li_128mb
option = hw_random
option = rtc
option = android
option = vc_static
option = net_island
option = fake_battery
option = test
option = perf
option = watchdog
option = smp
option = memc
option = audioh
option = profile
