arch   = arm
family = capri
chip   = 11351
board  = ray
option = ext4
option = mmc
option = bi_512mb
option = hw_random
option = rtc
option = cir
option = android
option = vc_static
option = net_island
option = fake_battery
option = test
option = audioh
option = smp
option = memc
option = usb
option = initrd
