arch   = arm
family = capri
chip   = 11140
board  = ray
option = ext4
option = mmc
option = bi_512mb
option = hw_random
option = rtc
option = android
option = vc_static
option = net_island
option = fake_battery
option = test
option = audioh
option = smp
option = sensors
option = memc
option = initrd
option = profile
board  = bcm4330
