arch   = arm
family = capri
chip   = 11130
board  = roku_austin
option = nand
option = jffs2
option = hw_random
option = rtc
option = cir
option = vc_static
option = net_island
option = test
option = perf
option = watchdog
option = smp
option = memc
#option = profile
option = android
option = audioh
option = sound
option = pcm
option = usb
option = vc_mdec
